*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
}

html,body{
    
    height: 100%;
}

body{
    background:linear-gradient(#baa3ff, #93abff) no-repeat;
    background-size: 100% 100%;
    padding: 1.5rem;

    line-height: 1.6;
  
}
span{
    color: red;
}
.container {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}


h1{
     
    text-align: center;
    margin: 1.5rem;
    color: #5c39d1;
    font-size: 1.75rem;
}

form label{
display: block;
margin-top: 1rem;
color: #5c39d1;
font-size: 1.1rem; 
}

form input,
form select,
form textarea{
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1.4px solid #5c39d1;
    font-size: 1rem;
    transition: border 0.3s ease;
}





button{
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.9rem;
    background-color: #5c39d1;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color:#2d1677 ;
}

.newAc {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: #5c39d1;
  font-size: 0.8rem;
}



/* Responsive Tweaks */
@media (max-width: 425px){
    .container{
        padding: 1rem;
        border-radius: 8px;
    }
    h1{
        font-size: 1.5rem;
    }
    button{
        font-size: .9rem;
        padding: 0.75rem;
    }
}

/*Optional Dark mode support*/
/* @media (prefers-color-scheme: ) { after the colon put word
    body{
        background-color: #121212;
        color: #e0e0e0;
    }
    .container{
        background-color: #1e1e1e;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
    }
    
    form label,
    form input,
    form select{
        background-color: #000000;
        border: 1px solid aqua;
        color: #ffe8e8;
    }

    button{
        background-color: aqua;
    }
    button:hover{
        background-color: aquamarine;
    }
    h1{
        color: aqua;
    }
} */